In [45]:
import sys
sys.path.append('/home/winstroth/src/python/fluent/fluent')

In [56]:
import pandas as pd
import fluutils as futils
reload(futils)

In [57]:
cd /home/winstroth/src/python/fluent/test_files/

/home/winstroth/src/python/fluent/test_files

In [89]:
top_dir = 'finished/converged' 
exts = {'cl': '*.cl', 'cd': '*.cd', 'cm': '*.cm'}

fpolars = {}
for ext_name, ext_pattern in exts.iteritems():
    fpolars[ext_name] = (futils.find_files(top_dir, ext_pattern))

polars_df = {}
for ext_name, cur_polar in fpolars.iteritems():
    polars = {}
    for faoa in cur_polar:
        fname_parts, aoa = futils.split_fname(faoa[0])
        coeff_val, coeff_hist = futils.get_coeff(faoa[1])
        polar_name = '{}_{}'.format(fname_parts['nairfoil'],
                                    fname_parts['nsetup'])
        if polar_name not in polars:
            polars[polar_name] = []
        polars[polar_name].append([aoa, coeff_val])
    # Convert to pandas Dataframe
    for key, value in polars.iteritems():
        if key not in polars_df:
            polars_df[key] = {}
        polars_df[key][ext_name] = pd.DataFrame(data=value, columns=['aoa', ext_name])
        # Order by aoa
        polars_df[key][ext_name].sort_values('aoa', inplace=True, ascending=True)
res_df = {}
for name, polar_dict in polars_df.iteritems():
    for  
    res_df[polar_name] =

In [109]:
polars_df['e44r19600_sst']['cl']['cl']

1   -0.014342
2    0.222130
5    0.455772
0    0.684525
4    0.905283
6    1.113960
3    1.211890
Name: cl, dtype: float64

In [107]:
res

   aoa        cl  test
1   -4 -0.014342     1
2   -2  0.222130     2
5    0  0.455772     3
0    2  0.684525     4
4    4  0.905283     5
6    6  1.113960     6
3    7  1.211890     7

In [99]:
test_df['aoa'] = polars_df['e44r19600_sst']['cl'].aoa

In [101]:
test_df['cl'] = polars_df['e44r19600_sst']['cl'].cl

In [102]:
test_df

   aoa        cl
1   -4 -0.014342
2   -2  0.222130
5    0  0.455772
0    2  0.684525
4    4  0.905283
6    6  1.113960
3    7  1.211890